.google {
  display: block;
  width: 45%;
  height: 45%;
  margin: 100px auto 0 auto;
  padding-bottom: 20px;
}

input {
  display: block;
  border-color: lightgray;
  width: 970px;
  margin: 0 auto;
  padding: 30px;
  background-image: url(microphone.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 90px
}

.angry {
  text-align: center;
  font-size: 3em;
}

.buttons {
  background-color: #eee;
  color: #757575;
  font-weight: bold;
  font-size: .6em;
  margin-top: 60px;
  border: none;
  padding: 20px;
}
