.modal {
  background-color: white;
  position: fixed;
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  width: 300px;
  height: 150px;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  box-shadow: 10px 10px 5px #888888;
  z-index: 2


}
.header {
  position: fixed;
  background-color: gray;
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 40px;
  color: white;

}
.label {
  font-size: 1.3em;
  line-height: 2em;
  padding-left: .5em;

}

.content {
  font-size: 1em;
  padding-top: 2.5em;
  padding-left: .5em;

}

.buttons {
  text-align: right;
  padding-top: 1.15em;
  padding-right: .5em;

}
.page-content {
  display: block;
  width: 600px;
  margin: 0 auto;
  opacity: .5;
  z-index: 1
}
